In [27]:
# Baseline
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

df = pd.read_csv('./data/train.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [28]:
# Use majority for basline
target_name = df.columns[-1]
df[target_name].value_counts()

0    10089739
1     1415059
Name: Response, dtype: int64

In [29]:
df.shape

(11504798, 12)

In [30]:
majority_value = df[target_name].mode().iloc[0] # There can be ties
majority_value

0

In [31]:
y_pred = np.full_like(df[target_name],majority_value)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [32]:
accuracy_score(df[target_name],y_pred)

0.8770027079136896

In [33]:
df[target_name].unique()

array([0, 1], dtype=int64)

In [34]:
# Save submission file
dfk = pd.read_csv('./data/test.csv')
# X_kaggle = dfk.drop('id',axis=1)
y_kaggle = np.full_like(dfk['id'],majority_value)

df_sub = pd.DataFrame({'id': dfk['id'].values, target_name: y_kaggle})
df_sub.to_csv(f'./submissions/baseline_score.csv',index=False)

In [35]:
import random
opt = df[target_name].unique()
y_pred = [random.choice(opt) for i in df[target_name]]
accuracy_score(df[target_name],y_pred)

0.49959460392090327