In [ ]:
# Catboost optimization - feat engineering

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score
from catboost import CatBoostClassifier

data = pd.read_csv('./data/train.csv')
X = data.drop(['Target','id'],axis=1)
y = data['Target']

X.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9238,1,1,126.0,1,1,19,...,0,0,6,7,6,12.428571,0,11.1,0.6,2.02
1,1,17,1,9238,1,1,125.0,1,19,19,...,0,0,6,9,0,0.000000,0,11.1,0.6,2.02
2,1,17,2,9254,1,1,137.0,1,3,19,...,0,0,6,0,0,0.000000,0,16.2,0.3,-0.92
3,1,1,3,9500,1,1,131.0,1,19,3,...,0,0,8,11,7,12.820000,0,11.1,0.6,2.02
4,1,1,2,9500,1,1,132.0,1,19,37,...,0,0,7,12,6,12.933333,0,7.6,2.6,0.32

In [3]:
X.nunique()

Marital status                                       6
Application mode                                    22
Application order                                    8
Course                                              19
Daytime/evening attendance                           2
Previous qualification                              21
Previous qualification (grade)                     110
Nacionality                                         18
Mother's qualification                              35
Father's qualification                              39
Mother's occupation                                 40
Father's occupation                                 56
Admission grade                                    668
Displaced                                            2
Educational special needs                            2
Debtor                                               2
Tuition fees up to date                              2
Gender                                               2
Scholarship holder                                   2
Age at enrollment                                   46
International                                        2
Curricular units 1st sem (credited)                 21
Curricular units 1st sem (enrolled)                 24
Curricular units 1st sem (evaluations)              36
Curricular units 1st sem (approved)                 23
Curricular units 1st sem (grade)                  1206
Curricular units 1st sem (without evaluations)      12
Curricular units 2nd sem (credited)                 20
Curricular units 2nd sem (enrolled)                 22
Curricular units 2nd sem (evaluations)              31
Curricular units 2nd sem (approved)                 21
Curricular units 2nd sem (grade)                  1234
Curricular units 2nd sem (without evaluations)      11
Unemployment rate                                   11
Inflation rate                                      13
GDP                                                 11
dtype: int64

In [2]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Define the CatBoost model with GPU support
catboost = CatBoostClassifier(verbose=0, random_seed=7)

# Create a pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),  # You may or may not need this depending on your data
    ('classifier', catboost)
])

# Define the parameter grid for hyperparameter tuning
param_grid = {
    'classifier__iterations': [100, 200],
    'classifier__learning_rate': [0.01, 0.05, 0.1],
    'classifier__depth': [4, 6, 8],
    'classifier__l2_leaf_reg': [1, 3, 5]
}

# Stratified k-fold cross-validation
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Perform grid search with cross-validation
grid_search = GridSearchCV(pipeline, param_grid, cv=cv, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train, y_train)

# Print the best parameters and the best score
print("Best parameters found: ", grid_search.best_params_)
print("Best cross-validation accuracy: {:.4f}".format(grid_search.best_score_))

# Evaluate the best model on the test set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

# Print classification report
print(classification_report(y_test, y_pred))

Best parameters found:  {'classifier__depth': 6, 'classifier__iterations': 200, 'classifier__l2_leaf_reg': 3, 'classifier__learning_rate': 0.1}
Best cross-validation accuracy: 0.8290
              precision    recall  f1-score   support

     Dropout       0.90      0.82      0.86      5059
    Enrolled       0.65      0.60      0.62      2988
    Graduate       0.85      0.93      0.89      7257

    accuracy                           0.83     15304
   macro avg       0.80      0.78      0.79     15304
weighted avg       0.83      0.83      0.83     15304

In [17]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.8283455305802404

In [18]:
# Save submission file
dfk = pd.read_csv('./data/test.csv')
X_kaggle = dfk.drop('id',axis=1)
y_kaggle = best_model.predict(X_kaggle)

In [19]:
df_sub = pd.DataFrame({'id':dfk['id'].values,'Target':y_kaggle.flatten()})
df_sub.to_csv(f'./submissions/catboost{round(accuracy,4)}.csv',index=False)